<div class="container h-100">
  <div class="d-flex justify-content-center align-items-center h-100">
    <div class="card w-25">
      <div class="card-header">
        <h5 class="card-title p-0 m-0 text-center">LOGIN</h5>
      </div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">E-mail</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Senha</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Digite sua senha">
          </div>
          <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-primary" [routerLink]="['/module-one']">Entrar</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>
